

<app-banner>

</app-banner>

<div class="page-container">
  <div class="card-title">Medals per Country</div>

  <div class="flex-row">
    <div class="card-headlines"><div>Number of JOs</div><div class="text-center-black">{{numberOfJOs}}</div></div>
    <div class="card-headlines"><div>Number of Countries</div><div class="text-center-black">{{olympics.length}}</div></div>
  </div>

  <div class="card">
    <app-pie-chart
      *ngIf="pieDataLoaded"
      class="chart-container"
      id="medalsPieChart"
      [chartId]="'idd'"
      [pieDatas$]="pieDatas$.asObservable()"
      (legendClick)="ActionOnLegendClick($event)"
      (loadedGraph)="viewInit()"
      (graphClick)="ActionOnLegendClick($event)"
      [customLegend]="this.getScreenWidth>580"
    >
    </app-pie-chart>
  </div>
</div>
